.copyright {
    color: $grey;
    display: flex;
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: $font-size-small;
    font-weight: 300;
    justify-content: space-around;
    margin: $l-size 0 $xl-size 0;
}