.header {
    background: $grey;
    height: 7.4rem;
    left: 0;
    position: fixed;
    right: 0;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
    * {
        color: inherit;
    }
}

.header__title {
    h1 {
        font-size: $font-size-xlarge;
        margin: 0;
    }
    text-decoration: none;
}

.header--fixed-top {
    color: $title-color !important;
    transition: all $transition-speed $transition-type;
    position: absolute;

    nav > a {
        transition: all $transition-speed $transition-type;

        &:hover {
            color: white;
            background-color: darken($grey, 15%);
        }
    }
}

.header--fixed {
    background: $off-white;
    border-bottom: 1px solid darken($off-white, 10);
    color: $text-dark !important;
    left: 0;
    opacity: 0.7;
    position: fixed;
    transition: top $transition-speed $transition-type;
    top: -7.4rem;
    right: 0;
}

.header--visible {
    top: 0;
    transition: top $transition-speed $transition-type;

    nav > a {
        transition: all $transition-speed $transition-type;

        &:hover {
            background-color: darken($off-white, 25%);
            color: darken($text-dark, 25%);
        }
    }
}