.intro-header { 
    background: $grey;
    color: $off-white;
    margin-bottom: $l-size;
    padding: 12rem 0 $l-size 0;
    text-align: center;
}

.intro-header__title { 
    font-size: 6.4rem;
    font-weight: 700;
    margin: 0;
}

.intro-header__subtitle { 
    font-size: $font-size-xlarge;
    font-weight: 300;
    margin-top: $m-size;
}

.intro-header__bar { 
    border: 0;
    border-top: 1px solid $off-white;
    border-width: 4px;
    margin: 15px auto;
    max-width: 100px;
}