.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin-top: $m-size;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    display: block;
    padding: $s-size;
    text-decoration: none;
    transition: background $transition-speed $transition-type;

    &:hover {
        background: $off-white;
    }

    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;

    &:hover {
        background: none;
    }
}

.list-item__title {
    font-size: $font-size-large;
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    font-weight: normal;
    color: $dark-grey;
    font-size: $font-size-small;
}

.list-item__data {
    color: $grey;
    display: flex;
    font-family: $font-family-serif;
    font-size: $font-size-small;
    font-style: italic;
    font-weight: 300;
    flex-flow: column;
    text-align: right;

    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}
