* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

a {
    transition: color $transition-speed $transition-type;
    color: $dark-grey;
    
    &:hover {
        color: $hover-blue;
    }
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}