// Colors
$dark-grey: #333333;
$grey: #666;
$green: #4A7C59;
$light-blue: #8FC0A9;
$off-white: #f7f7f7;
$beige: #FAF3DD;
$pale-silver: #C8D5B9;
$title-color: #68B0AB;

// Font Size
$font-size-xlarge: 2.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;